<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Address</th>
            <th>Code</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.getKey()}"></td>
        <td th:text="${event.getValue()}"></td>
        <td th:replace="fragments :: hangout"></td>
        <td th:replace="fragments :: pic"></td>
    </tr>
</table>

</body>
</html>